:root {
    --bg: #0d1117;
    --panel: #161b22;
    --border: #2f353d;
    --text: #ffffff;
    --muted: #c9d1d9;
    --accent: #58a6ff;
}

* {
    box-sizing: border-box;
}

a{
    color: var(--accent);
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: var(--panel);
    border-right: 1px solid var(--border);
    height: 100vh;
    position: fixed;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--muted);
}

.sidebar a {
    display: block;
    color: var(--muted);
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    transition: 0.2s;
}

.sidebar a:hover {
    background: #21262d;
    color: var(--text);
}

/* MAIN */
.main {
    margin-left: 260px;
    padding: 30px;
    width: calc(100% - 260px);
}

h1 {
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
    margin-top: 40px;
}

p {
    color: var(--muted);
    line-height: 1.6;
}

/* SECTIONS */
.card {
    background: var(--panel);
    border: 1px solid var(--border);
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

.card-header {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

img {
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border);
    margin: 15px auto 0 auto; /* centers horizontally */
    display: block;           /* required for margin auto to work */
}

.card-content {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease, padding 0.25s ease;
    padding: 0 15px;
    display: flow-root; /* keeps margins contained */
}

.card.active .card-content {
    padding: 15px 15px 25px 15px;
}

    .arrow {
    transition: transform 0.3s ease;
}

.card.active .arrow {
    transform: rotate(180deg);
}

img {
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-top: 10px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid var(--border);
    color: #8b949e;
    text-align: center;
}

ul{
    color: var(--muted);
}

/* MOBILE */
@media (max-width: 900px) {
    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0;
        width: 100%;
    }
}